<!DOCTYPE html>
<html>
        <head>
            <title> GT-COURSE</title>
            <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-pdapHxIh7EYuwy6K7iE41uXVxGCXY0sAjBzaElYGJUrzwodck3Lx6IE2lA0rFREo" crossorigin="anonymous">
        </head>
        <body>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">CourseGT</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <% if(!currentUser){ %>
                                <li><a href="/login">Log in</a></li>
                                <li><a href="/register">Sign up</a></li>
                            <% } else {%>
                                    <li><a href="#">Signed In As <%= currentUser.username%></a></li>
                                    <li><a href="/logout">Log out</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </nav>
            
