<%include ../partials/profile_header %>
            
<div class="container">
    <form action="/myprofile" method = "POST">
        <p><font size="5">What is Your Major?</font></p>
        <legend><small>Please select one of the following</small></legend>
         <input id="checkbox-1" type="checkbox" name="major" value="MSCS" checked="checked"/><label for="checkbox-1">MSCS</label>
        <p></p>
        <p><font size="5">What is your specification?</font></p>
        <legend><small>Please select one of the following</small></legend>
        
        <select name="specification" id="mySelect" onchange="myFunction()">
        <option value=""></option>
        <option value="CPR">Computational Perception and Robotics</option>
        <option value="CG">Computer Graphics</option>
        <option value="CS">Computing Systems</option>
        <option value="HCC">Human Centered Computing</option>
        <option value="HPC">High Performance Computing</option>
        <option value="HCI">Human-Computer Interaction</option>
        <option value="II">Interactive Intelligence</option>
        <option value="ML">Machine Learning</option>
        <option value="MS">Modeling and Simulations</option>
        <option value="SC-1">Scientific Computing </option>
        <option value="SC-2"> Social Computing </option>
        <option value="VA">Visual Analytics</option>
        </select>
        
        <p></p>
        
        <p><font size="5">Which course have your already taken?</font></p>
        <legend><small>Specification: <span class="rp"></span></small></legend>
        
        <div class="container">
            <header class="test">
            </header>
        </div>
        
        <p><font size="5">How many courses do you already take?</font></p>
          <div class="slidecontainer">
          <input type="range" name = "courseAlreadyTake" min="0" max="10" value="0" class="slider" id="myRange0">
          <p>The number of Courses: <span id="demo0"></span></p>
        </div>
        <script>
        var slider = document.getElementById("myRange0");
        var output0 = document.getElementById("demo0");
        output0.innerHTML = slider.value;
        slider.oninput = function() {
          output0.innerHTML = this.value;
        }
        </script>
        
         <p><font size="5">How many average hours do you plan to spend on a course per week?</font></p>
        <div class="slidecontainer">
          <input type="range" name = "courseHours" min="5" max="50" value="5" class="slider" id="myRange2">
          <p>Hours: <span id="demo2"></span></p>
        </div>
        <script>
        var slider = document.getElementById("myRange2");
        var output2 = document.getElementById("demo2");
        output2.innerHTML = slider.value;
        slider.oninput = function() {
          output2.innerHTML = this.value;
        }
        </script>
        
        <p><font size="5">What's the average difficulty of courses that you prefer?</font></p>
        <div class="slidecontainer">
          <input type="range" name = "courseDiff" min="1" max="5" value="1" class="slider" id="myRange3">
          <p>Difficulty level: <span id="demo3"></span></p>
        </div>
        <script>
        var slider = document.getElementById("myRange3");
        var output3 = document.getElementById("demo3");
        output3.innerHTML = slider.value;
        slider.oninput = function() {
          output3.innerHTML = this.value;
        }
        </script>
        <p><font size="5">Factor importance level: 0-5</font></p>
        <p><font size="5">GPA-importance:</font></p>
        <div class="input-group">
          <input type="button" value="-" class="button-minus" data-field="gpaWeight">
          <input name="gpaWeight" type="number" step="1" max="5" value="1" class="quantity-field">
          <input type="button" value="+" class="button-plus" data-field="gpaWeight">
       </div>
       <p><font size="5">CourseRating-importance:</font></p>
        <div class="input-group">
          <input type="button" value="-" class="button-minus" data-field="ratingWeight">
          <input name="ratingWeight" type="number" step="1" max="5" value="1" name="quantity" class="quantity-field">
          <input type="button" value="+" class="button-plus" data-field="ratingWeight">
       </div>
       <p><font size="5">Workload-importance:</font></p>
        <div class="input-group">
          <input type="button" value="-" class="button-minus" data-field="workloadWeight">
          <input name="workloadWeight" type="number" step="1" max="5" value="1" name="quantity" class="quantity-field">
          <input type="button" value="+" class="button-plus" data-field="workloadWeight">
       </div>
       <p><font size="5">Difficulty-importance:</font></p>
        <div class="input-group">
          <input type="button" value="-" class="button-minus" data-field="difficultyWeight">
          <input name="difficultyWeight" type="number" step="1" max="5" value="1" name="quantity" class="quantity-field">
          <input type="button" value="+" class="button-plus" data-field="difficultyWeight">
       </div>
       <script type="text/javascript" src="javascripts/weight.js"></script>
       

        
       

        <button class="btn btn-primary"  type="submit">Submit</button>
    </form>
</div>


<%include ../partials/footer %>