<%include ../partials/profile_header %>
            
<div class="container">
    <form action="/myprofile" method = "POST">
        <p><font size="5">What is Your Major?</font></p>
        <legend><small>Please select one of the following</small></legend>
         <input id="checkbox-1" type="checkbox" name="major" value="MSCS" checked="checked"/><label for="checkbox-1">MSCS</label>
          
        <p></p>
        <p><font size="5">What is your specification?</font></p>
        <legend><small>Please select one of the following</small></legend>
        
        <select name="specification" id="mySelect" onchange="myFunction()">
        <option value=""></option>
        <option value="CPR">Computational Perception and Robotics</option>
        <option value="CG">Computer Graphics</option>
        <option value="CS">Computing Systems</option>
        <option value="HCC">Human Centered Computing</option>
        <option value="HPC">High Performance Computing</option>
        <option value="HCI">Human-Computer Interaction</option>
        <option value="II">Interactive Intelligence</option>
        <option value="ML">Machine Learning</option>
        <option value="MS">Modeling and Simulations</option>
        <option value="SC-1">Scientific Computing </option>
        <option value="SC-2"> Social Computing </option>
        <option value="VA">Visual Analytics</option>
        </select>
        
        <p></p>
        
        <p><font size="5">Which course have your already taken?</font></p>
        <legend><small>Specification: <span class="rp"></span></small></legend>
        
        <div class="container">
            <header class="test">
            </header>
        </div>
        
         <p><font size="5">How many courses do you plan to take?</font></p>
          <div class="slidecontainer">
          <input type="range" name = "courseToTake" min="0" max="8" value="0" class="slider" id="myRange1">
          <p>The number of Courses: <span id="demo1"></span></p>
        </div>
        <script>
        var slider = document.getElementById("myRange1");
        var output1 = document.getElementById("demo1");
        output1.innerHTML = slider.value;
        slider.oninput = function() {
          output1.innerHTML = this.value;
        }
        </script>
        
         <p><font size="5">How many hours do you plan to spend course/week?</font></p>
        <div class="slidecontainer">
          <input type="range" name = "courseHours" min="0" max="50" value="0" class="slider" id="myRange2">
          <p>Hours: <span id="demo2"></span></p>
        </div>
        <script>
        var slider = document.getElementById("myRange2");
        var output2 = document.getElementById("demo2");
        output2.innerHTML = slider.value;
        slider.oninput = function() {
          output2.innerHTML = this.value;
        }
        </script>
        
        <p><font size="5">What's the average difficulty of courses that you prefer?</font></p>
        <div class="slidecontainer">
          <input type="range" name = "courseDiff" min="1" max="5" value="1" class="slider" id="myRange3">
          <p>Difficulty level: <span id="demo3"></span></p>
        </div>
        <script>
        var slider = document.getElementById("myRange3");
        var output3 = document.getElementById("demo3");
        output3.innerHTML = slider.value;
        slider.oninput = function() {
          output3.innerHTML = this.value;
        }
        </script>
        
        <button class="btn btn-primary"  type="submit">Submit</button>
    </form>
</div>



<%include ../partials/footer %>