
<% include partials/front_page %>

<!-- this is for the nav bars --> 


<!--<a href="/courses">View all the courses</a>-->


<button type="button" class="btn btn-default" onclick="location.href='/courses'" id="coursebuttion">View all the courses</button>

<%include partials/footer %>