<% include ./partials/front_page %>
    <div id="landing-header" style="z-index:1;">
            <h2 style="text-align:center">CourseGT</h2>
            <form action="/" method="POST">
               <div class="input-group">
                    <input type="text" name="inputcourse" class="form-control" placeholder="Search for Courses">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div>
            </form>
          </div><!-- /.col-lg-6 -->
    </div>
            
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

            
<%include partials/footer %>